@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
}   

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: center;
    min-height: 100vh;
    background: #3f3f3f;
    background-size: 100%;
}

.wrapper {
    background: #fff;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 0 128px 0 rgb(0,0,0,0,1),
                0 32px 64px -48px rgb(0,0,0,0,5);
}

.form {
    padding: 25px 30px;
}

.form header{
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
}

.form form {
    margin: 20px 0;
}

.form form .error-txt {
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
}

.form form .field label{
    margin-bottom: 2px;
}



.form form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}

.fomr form .field input {
    outline: none;

}

.form form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form form .image input {
    font-size: 17px;
}


.form form .field i{
    position: absolute;
    right: 15px;
    color: #ccc;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}


.form form .field i.active::before {
    color: #333;
    content: "\f070";
    
}


.form form .button input {
    margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.form link {
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
}

.form link a{
    color: #333;
}

.form link a:hover {
    text-decoration: underline;
}

/* Users Area CSS Code */
.users{
    padding: 25px 30px
}
.users header,
.users-list a{
    display: flex;
    align-items: center;
    justify-content: space-between;
 
    padding-bottom: 20px ;
}
.users header .content img{
   height: 50px;
    width: 50px;
    
}
.users header .content{
    display: flex;
}
.wrapper img{
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}
.users header .details{
    margin-left: 15px;
}

.status1 {

color: red;
position: absolute;
margin-top: 60px;
margin-right: 0vh;

}

.users header .details span{
    font-size: 18px;
    font-weight: 500;
    position: relative;
}
.users header .logout{
    color: #fff;
    background-color: #333;
    padding: 7px 15px;
    font-size: 17px;
    border-radius: 3px;
}
.users .search{
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.users .search input{
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 3px;
    outline: none;
}
.users .search button{
    width: 47px;
    height: 42px;
    border: none;
    color: #fff;
    background: #333;
    cursor: pointer;
    font-size: 17px;
    border-radius: 0 5px 5px 0;
}
.users-list{
}
.users-list a{
    
}
